body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page {
  display: none; /* 처음에는 모든 페이지 숨김 */
}

.page h2 {
  margin-top: 0;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button,
input[type="submit"] {
  padding: 10px 15px;
  background-color: white;
  color:  black;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: #218838;
}
